.ng-cloak{
    display: none;
}
.mui-content-padded {
    padding: 10px;
}
body,body .mui-content {
    background-color: #fff !important;
}
code {
    word-wrap: break-word;
    word-break: normal;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}